<!DOCTYPE html>
<html>
	<head>
		<title></title>
		{% load static %}

		<!-- TODO: Link them with the server side versions instead of the online versions -->
		<link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="{{ STATIC_URL }}bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">

		<script src="{{ STATIC_URL }}js/jquery-3.1.1.min.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>

		<script>

			function searchTweets()
			{
				var query = document.getElementById('query').value;
				$.get('/senti_viz/search/' + encodeURIComponent(query), onSuccess);
			}

			function onSuccess(response)
			{
				div = document.getElementById("results-div");
				div.innerHTML = response;
			}

		</script>

		<!--
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>
		-->

	</head>
	<body>
		<div class="container">
			<img src="{{ STATIC_URL }}img/twitter.png" height="100px" width="100px"/>
			<div class="row">
				<h2>Tweet Sentiment Visualizer</h2>
			</div>
			<div class="input-group col-md-12">
				<input type="text" class="search-query form-control" id="query" placeholder="Search for a tweet" />
				<span class="input-group-btn">
					<button class="btn btn-danger" type="button" onclick="searchTweets()">
						<span class="glyphicon glyphicon-search"></span>
					</button>
				</span>
			</div>
		</div>
		<hr>
		<div class="container col-xs-12" id="results-div">
		</div>
	</body>
</html>
